In [2]:
import os
from pathlib import Path
import sys
sys.path.append(r"C:\Users\kotoub.a\AppData\Roaming\Python\Python312\site-packages")
import duckdb



# Base = dossier du script si __file__ existe, sinon dossier courant du kernel (notebook)
BASE_DIR = Path(__file__).parent if "__file__" in globals() else Path.cwd()

DB_PATH = BASE_DIR / "warehouse.duckdb"
print("Fichier DuckDB utilisé :", DB_PATH)

con = duckdb.connect(str(DB_PATH))
print(con.execute("SHOW TABLES").df())

Fichier DuckDB utilisé : d:\MSPR_CODE\MSPR_BLOC3_MASTER1\etl\warehouse.duckdb
                  name
0         fact_chomage
1  fact_election_tour1
2  fact_election_tour2
3        fact_securite

In [3]:
con.execute("SELECT * FROM fact_election_tour1 LIMIT 20").df()

,__id,id_election,id_brut_miom,code_departement,libelle_departement,code_commune,libelle_commune,code_circonscription,libelle_circonscription,code_bv,...,nuls,exprimes,ratio_abstentions_inscrits,ratio_votants_inscrits,ratio_blancs_inscrits,ratio_blancs_votants,ratio_nuls_inscrits,ratio_nuls_votants,ratio_exprimes_inscrits,ratio_exprimes_votants
0,47274,2022_pres_t1,69001_0001,69,Rhône,69001,Affoux,8,8Ème Circonscription,1,...,2,250,18.99,81.01,1.27,1.56,0.63,0.78,79.11,97.66
1,47275,2022_pres_t1,69002_0001,69,Rhône,69002,Aigueperse,9,9Ème Circonscription,1,...,1,153,26.73,73.27,2.30,3.14,0.46,0.63,70.51,96.23
2,47276,2022_pres_t1,69003_0001,69,Rhône,69003,Albigny-Sur-Saône,5,5Ème Circonscription,1,...,6,788,19.42,80.58,1.10,1.37,0.60,0.75,78.88,97.89
3,47277,2022_pres_t1,69003_0002,69,Rhône,69003,Albigny-Sur-Saône,5,5Ème Circonscription,2,...,4,628,25.99,74.01,0.70,0.94,0.46,0.63,72.85,98.43
4,47278,2022_pres_t1,69004_0001,69,Rhône,69004,Alix,9,9Ème Circonscription,1,...,2,389,15.53,84.47,1.28,1.51,0.43,0.50,82.77,97.98
5,47279,2022_pres_t1,69005_0001,69,Rhône,69005,Ambérieux,9,9Ème Circonscription,1,...,1,342,14.74,85.26,0.98,1.15,0.25,0.29,84.03,98.56
6,47280,2022_pres_t1,69006_0001,69,Rhône,69006,Amplepuis,8,8Ème Circonscription,1,...,5,617,25.93,74.07,2.08,2.81,0.58,0.78,71.41,96.41
7,47281,2022_pres_t1,69006_0002,69,Rhône,69006,Amplepuis,8,8Ème Circonscription,2,...,6,710,24.25,75.75,1.25,1.65,0.62,0.82,73.88,97.53
8,47282,2022_pres_t1,69006_0003,69,Rhône,69006,Amplepuis,8,8Ème Circonscription,3,...,8,537,21.14,78.86,3.06,3.88,1.11,1.41,74.69,94.71
9,47283,2022_pres_t1,69006_0004,69,Rhône,69006,Amplepuis,8,8Ème Circonscription,4,...,5,745,20.02,79.98,1.77,2.22,0.52,0.65,77.69,97.13
10,47284,2022_pres_t1,69007_0001,69,Rhône,69007,Ampuis,11,11Ème Circonscription,1,...,10,1078,19.56,80.44,1.31,1.63,0.73,0.90,78.40,97.47
11,47285,2022_pres_t1,69007_0002,69,Rhône,69007,Ampuis,11,11Ème Circonscription,2,...,5,615,17.82,82.18,0.92,1.12,0.66,0.80,80.60,98.09
12,47286,2022_pres_t1,69008_0001,69,Rhône,69008,Ancy,8,8Ème Circonscription,1,...,2,417,14.37,85.63,0.81,0.95,0.40,0.47,84.41,98.58
13,47287,2022_pres_t1,69009_0001,69,Rhône,69009,Anse,9,9Ème Circonscription,1,...,4,722,18.91,81.09,1.75,2.16,0.44,0.54,78.91,97.30
14,47288,2022_pres_t1,69009_0002,69,Rhône,69009,Anse,9,9Ème Circonscription,2,...,3,842,25.22,74.78,0.53,0.71,0.26,0.35,73.99,98.94
15,47289,2022_pres_t1,69009_0003,69,Rhône,69009,Anse,9,9Ème Circonscription,3,...,3,754,20.77,79.23,2.14,2.70,0.31,0.39,76.78,96.92
16,47290,2022_pres_t1,69009_0004,69,Rhône,69009,Anse,9,9Ème Circonscription,4,...,3,871,15.80,84.20,1.98,2.35,0.28,0.34,81.94,97.32
17,47291,2022_pres_t1,69009_0005,69,Rhône,69009,Anse,9,9Ème Circonscription,5,...,3,715,23.77,76.23,1.36,1.78,0.31,0.41,74.56,97.81
18,47292,2022_pres_t1,69010_0001,69,Rhône,69010,L'Arbresle,8,8Ème Circonscription,1,...,8,722,15.44,84.56,1.70,2.01,0.91,1.07,81.95,96.91
19,47293,2022_pres_t1,69010_0002,69,Rhône,69010,L'Arbresle,8,8Ème Circonscription,2,...,1,607,25.18,74.82,0.85,1.14,0.12,0.16,73.84,98.70

In [4]:
con.execute("SELECT * FROM fact_chomage LIMIT 10").df()

  code_departement              departement  taux_chomage
0               01                      Ain           5.6
1               02                    Aisne          10.5
2               03                   Allier           7.9
3               04  Alpes-De-Haute-Provence           7.9
4               05             Hautes-Alpes           6.2
5               06          Alpes-Maritimes           6.8
6               07                  Ardèche           7.8
7               08                 Ardennes           9.8
8               09                   Ariège           9.2
9               10                     Aube           9.7

In [5]:
con.execute("DESCRIBE fact_election_tour1").df()

                   column_name column_type null   key default extra
0                         __id      BIGINT  YES  None    None  None
1                  id_election     VARCHAR  YES  None    None  None
2                 id_brut_miom     VARCHAR  YES  None    None  None
3             code_departement      BIGINT  YES  None    None  None
4          libelle_departement     VARCHAR  YES  None    None  None
5                 code_commune      BIGINT  YES  None    None  None
6              libelle_commune     VARCHAR  YES  None    None  None
7         code_circonscription      BIGINT  YES  None    None  None
8      libelle_circonscription     VARCHAR  YES  None    None  None
9                      code_bv      BIGINT  YES  None    None  None
10                    inscrits      BIGINT  YES  None    None  None
11                 abstentions      BIGINT  YES  None    None  None
12                     votants      BIGINT  YES  None    None  None
13                      blancs      BIGINT  YES  None    None  None
14                        nuls      BIGINT  YES  None    None  None
15                    exprimes      BIGINT  YES  None    None  None
16  ratio_abstentions_inscrits      DOUBLE  YES  None    None  None
17      ratio_votants_inscrits      DOUBLE  YES  None    None  None
18       ratio_blancs_inscrits      DOUBLE  YES  None    None  None
19        ratio_blancs_votants      DOUBLE  YES  None    None  None
20         ratio_nuls_inscrits      DOUBLE  YES  None    None  None
21          ratio_nuls_votants      DOUBLE  YES  None    None  None
22     ratio_exprimes_inscrits      DOUBLE  YES  None    None  None
23      ratio_exprimes_votants      DOUBLE  YES  None    None  None

In [6]:
con.execute("PRAGMA table_info('fact_election_tour1')").df()

    cid                        name     type  notnull dflt_value     pk
0     0                        __id   BIGINT    False       None  False
1     1                 id_election  VARCHAR    False       None  False
2     2                id_brut_miom  VARCHAR    False       None  False
3     3            code_departement   BIGINT    False       None  False
4     4         libelle_departement  VARCHAR    False       None  False
5     5                code_commune   BIGINT    False       None  False
6     6             libelle_commune  VARCHAR    False       None  False
7     7        code_circonscription   BIGINT    False       None  False
8     8     libelle_circonscription  VARCHAR    False       None  False
9     9                     code_bv   BIGINT    False       None  False
10   10                    inscrits   BIGINT    False       None  False
11   11                 abstentions   BIGINT    False       None  False
12   12                     votants   BIGINT    False       None  False
13   13                      blancs   BIGINT    False       None  False
14   14                        nuls   BIGINT    False       None  False
15   15                    exprimes   BIGINT    False       None  False
16   16  ratio_abstentions_inscrits   DOUBLE    False       None  False
17   17      ratio_votants_inscrits   DOUBLE    False       None  False
18   18       ratio_blancs_inscrits   DOUBLE    False       None  False
19   19        ratio_blancs_votants   DOUBLE    False       None  False
20   20         ratio_nuls_inscrits   DOUBLE    False       None  False
21   21          ratio_nuls_votants   DOUBLE    False       None  False
22   22     ratio_exprimes_inscrits   DOUBLE    False       None  False
23   23      ratio_exprimes_votants   DOUBLE    False       None  False

In [7]:
con.execute("SELECT COUNT(*) FROM fact_securite").df()

   count_star()
0         18180

In [8]:
con.execute("SHOW TABLES").df()

                  name
0         fact_chomage
1  fact_election_tour1
2  fact_election_tour2
3        fact_securite